{% extends 'crud.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
<div class="bg-light">
    <h4>Season index</h4>

    <table class="table">
        <thead>
            <tr>
                <th class="text-subtitle">Id</th>
                <th class="text-subtitle">Nombre</th>
                <th class="text-subtitle">Année</th>
                <th class="text-subtitle">Description</th>
                <th class="text-subtitle">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a class="w-100 h-100 btn bg-primary text-subtitle my-2 p-3" href="{{ path('app_season_show', {'id': season.id}) }}">show</a>
                    <a class="w-100 h-100 btn bg-primary text-subtitle my-2 p-3" href="{{ path('app_season_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune saison trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a class="w-100 h-100 btn bg-primary text-subtitle my-2 p-3" href="{{ path('app_season_new') }}">Ajouter une nouvelle saison</a>
{% endblock %}
