{% extends 'crud.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h4>Saisons</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="w-100 h-100 btn bg-primary text-subtitle my-2 p-3" href="{{ path('app_season_index') }}">Retour</a>

    <a class="w-100 h-100 btn bg-primary text-subtitle my-2 p-3" href="{{ path('app_season_edit', {'id': season.id}) }}">Modifier</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
