{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="card" style="width: 18rem;">
  <img src="{{program.poster}}" class="card-img-top" alt="{{ program.title }} poster">
  <div class="card-body">
    <h5 class="card-title">Saison {{ season.number }} de {{ program.title }}</h5>
    {% for season in program.seasons %}
    <p class="card-text">{{ program.synopsis }}</p>  
    {% endfor %}   
  </div>
</div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}